body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background: linear-gradient(to bottom right, #4CAF50, #2196F3);
    color: #fff;
}

.game-container {
    text-align: center;
	/*justify-content: center;
	/*display: block;*/
}

p {
    font-size: 18px;
    margin-bottom: 20px;
	color: #000;
	font-style: italic;
	font-weight: bold;
}	

h1 {
    font-size: 36px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-top: 20px;
	color: #000;
	justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.status {
    font-size: 18px;
    margin-top: 20px;
	color: #f00;
	font-weight: bold;
}	

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay .result {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #333;
}

.overlay .reset-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.overlay .reset-button:hover {
    background-color: #45a049;
}
